.all__wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.profile-form__heading{
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
}

.profile-form__wrapper{
    width: 48%;
    margin: 0 auto;
    display: inline-block;
}

.profile-form__label{
    font-size: 24px;
}

.profile-form__container{
    margin-top: 60px;
}

.profile-form__container-image{
    margin-bottom: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
}

.profile-form__image-area{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 60px;
}

.profile-form__image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-form__input-area-image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.profile-form__input-label{
    padding: 10px 20px;
    border: 2px solid #f00;
    border-radius: 10px;
    color: #f00;
    font-size: 20px;
    cursor: pointer;
}

.profile-form__input-image{
    display: none;
}

.profile-form__input{
    width: 100%;
    height: 57px;
    padding-left: 10px;
    font-size: 24px;
    border-radius: 3px;
}

.profile-form__button-submit{
    width: 100%;
    height: 57px;
    margin-top: 80px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #f55;
    font-size: 26px;
    cursor: pointer;
}

.profile-form__error-message{
    color: #f00;
}

.profile-form__error-message-image{
    color: #f00;
    position: absolute;
    top: 70%;
}


/* ------------------------------------ */
/*      レスポンシブデザイン(1080px)      */
/* ------------------------------------ */


@media screen and (max-width: 1080px) {

    .profile-form__image-area {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 40px;
    }

    .profile-form__image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .profile-form__error-message-image {
        color: #f00;
        position: absolute;
        top: 80%;
    }

}