.all__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.delivery-form__wrapper{
    width: 640px;
}

.delivery-form__heading{
    margin: 0;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 36px;
    text-align: center;
}

.delivery-form__container{
    margin-bottom: 80px;
}

.delivery-form__label{
    font-size: 24px;
    font-weight: bold;
}

.delivery-form__input{
    width: 640px;
    height: 45px;
}

.address-edit__button-submit {
    width: 640px;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 60px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 26px;
    background-color: #f55;
    cursor: pointer;
}

.delivery-form__error-message{
    color: #f00;
}