.all__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.create-form{
    width: 50%;
}

.create-form__heading{
    font-size: 36px;
    text-align: center;
}

.item-image__container,
.create-form__wrapper{
    margin-bottom: 60px;
}

.item-image__inner{
    padding: 60px 0;
    border: 1px dashed #5f5f5f;
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-image__input-label{
    padding: 10px 20px;
    border: 2px solid #f00;
    border-radius: 10px;
    color: #f00;
    font-size: 20px;
    cursor: pointer;
}

.item-image__input{
    display: none;
}

.item-image__preview{
    max-width: 100%;
}

.item-image__button-clear{
    width: 20%;
    height: 40px;
    color: #fff;
    background-color: #f00;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    cursor: pointer;
}

.item-detail__title{
    padding-bottom: 10px;
    font-size: 30px;
    color: #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
}

.item-detail__container{
    margin-bottom: 30px;
}

.item-image__title,
.item-category__title,
.item-condition__title,
.item-name__title,
.item-brand__title,
.item-description__title,
.item-price__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

.item-category__title{
    margin-bottom: 30px;
}

.item-category__checkbox{
    display: none;
}

.item-category__checkbox:checked + .item-category__label{
    color: #fff;
    background-color: #FF5655;
}

.item-category__label {
    height: 32px;
    padding: 2px 16px;
    margin-left: 25px;
    margin-bottom: 30px;
    color: #FF5655;
    border: 2px solid #FF5655;
    border-radius: 16px;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
}

.item-condition__select{
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    font-size: 14px;
}

.item-condition__option {
    color: #fff;
    background-color: #636769;
}

.item-name__input,
.item-brand__input,
.item-price__input{
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    font-size: 16px;
    background-color: #fff;
}

.item-description__input{
    width: 100%;
    height: 125px;
    padding: 10px;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    font-size: 16px;
}

.item-price__input-area {
    position: relative;
}

.item-price__input-area::before {
    content: "ï¿¥";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.item-price__input {
    padding-left: 30px;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
}

.create-form__button-submit {
    width: 100%;
    height: 60px;
    margin: 80px 0;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 26px;
    background-color: #f55;
    cursor: pointer;
}

.create-form__error-message{
    color: #f00;
}

.create-form__error-message-image {
    width: 100%;
    text-align: center;
    color: #f00;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}