.all__wrapper {
    width: 100%;
    margin: 0 auto;
}

.nav-tabs{
    margin-top: 50px;
    padding-bottom: 10px;
    display: flex;
    border-bottom: 2px solid #5F5F5F;
    font-size: 24px;
    font-weight: bold;
}

.nav-tab__recommend{
    margin-left: 15%;
}

.nav-tab__link-recommend{
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
}

.nav-tab__mylist {
    margin-left: 5%;
}

.nav-tab__link-mylist{
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
}

.nav-tab__link-recommend.active,
.nav-tab__link-mylist.active {
    color: #f00;
}

.items-list{
    width: 84%;
    padding-bottom: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 6%;
}

.item-card{
    width: 20%;
    aspect-ratio: 4/5;
    margin-top: 80px;
    position: relative;
}

.item-card__link-show{
    color: #000;
    text-decoration: none;
}

.item-image{
    width: 100%;
    height: 80%;
    border-radius: 3px;
    box-shadow: 0 4px 4px #00000040;
}

.item-card__badge-sold {
    padding: 5px 25px;
    color: #fff;
    background-color: red;
    font-size: 36px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.item-name{
    width: 100%;
    padding-top: 10px;
    margin: 0;
    font-size: 24px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



@media screen and (max-width: 1080px){

.item-card__badge-sold {
        padding: 5px 16px;
        color: #fff;
        background-color: red;
        font-size: 20px;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

.item-card {
    width: 20%;
    aspect-ratio: 4/5;
    margin-top: 40px;
    position: relative;
}
}