.all__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
}

.header{
    position: fixed;
    z-index: 100;
}




.other-trade{
    width: 268px;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    background-color: #868686;
    z-index: 200;
}

.other-trade__heading{
    margin: 14px 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}

.other-trade__items{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.other-trade__link-item{
    width: 80%;
    height: 40px;
    padding: 0 8px;
    margin: 18px 0;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    color: #000;
    background-color: #EEEFEB;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}






.trade-chat{
    width: 100%;
    height: calc(100vh - 80px);
    margin-left: auto;
}

.trade-chat__heading-wrapper{
    width: 86%;
    height: 100px;
    background-color: #fff;
    border-bottom: 2px solid #5F5F5F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 80px;
    left: 268px;
    z-index: 100;
}

.trade-chat__heading-area{
    width: 100%;
    display: flex;
    align-items: center;
}

.trade-chat__heading-user-image{
    width: 79px;
    height: 79px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

.trade-chat__heading{
    width: 760px;
    font-size: 34px;
}

.trade-chat__complete-form{
    position: fixed;
    right: 2%;
}

.trade-chat__button-complete{
    padding: 8px 16px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: #FF8282;
    cursor: pointer;
}

.trade-chat__complete-form.is-disabled{
    margin-top: 2px;
}

.trade-chat__button-complete.is-disabled{
    text-decoration: none;
}






.trade-chat__item-info{
    width: 86%;
    height: 235px;
    background-color: #fff;
    border-bottom: 2px solid #5F5F5F;
    display: flex;
    align-items: center;
    position: fixed;
    top: 180px;
    left: 268px;
    z-index: 100;
}

.trade-chat__item-image{
    width: 203px;
    height: 206px;
    margin-left: 30px;
}

.trade-chat__item-info-inner{
    width: 100%;
    margin-left: 40px;
}

.trade-chat__item-name{
    width: 800px;
    margin: 0;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trade-chat__item-price {
    margin: 0;
    font-size: 36px;
}






.trade-chat__messages {
    width: calc(100% - 268px);
    position: fixed;
    top: 410px;
    bottom: 100px;
    margin-left: 268px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 20px;
}

.trade-chat__message {
    display: flex;
    flex-direction: column;
}

.trade-chat__message.my-message {
    margin-right: 20px;
    align-items: flex-end;
}

.trade-chat__message.partners-message {
    margin-left: 20px;
    align-items: flex-start;
}

.trade-chat__user-info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.trade-chat__user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.trade-chat__user-name{
    font-size: 20px;
    font-weight: bold;
}

.trade-chat__message-content{
    min-width: 120px;
    max-width: 600px;
    min-height: 60px;
    padding: 10px 14px;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    background-color: #D9D9D9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trade-chat__message-textarea {
    width: 600px;
    min-height: 86px;
    max-height: 400px;
    padding: 10px 14px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #999;
    resize: none;
    overflow-y: auto;
    line-height: 1.6;
}

.trade-chat__buttons {
    display: flex;
}

.trade-chat__button-edit,
.trade-chat__button-save,
.trade-chat__button-delete {
    margin-right: 10px;
    font-size: 15px;
    color: #5F5F5F;
    background-color: #fff;
    border: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.trade-chat__message-image{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    border-radius: 4px;
}






.trade-chat__message-form {
    width: calc(100% - 268px);
    padding: 20px 0;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
}

.trade-chat__message-form-container{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.trade-chat__message-form-inner{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.trade-chat__textarea-area{
    width: 76%;
    min-height: 44px;
    margin: 0 10px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.trade-chat__textarea{
    width: 100%;
    min-height: 44px;
    max-height: 220px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #5f5f5f;
    border-radius: 8px;
    resize: none;
    overflow: hidden;
    line-height: 36px;
    outline: none;
    overflow-y: auto;
}

.trade-chat__textarea::placeholder {
    font-size: 20px;
    font-weight: 700;
}

.trade-chat__image-input-area{
    margin-bottom: 8px;
}

.trade-chat__label-image{
    width: 143px;
    height: 44px;
    padding: 4px 18px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
}

.trade-chat__input-image,
.trade-chat__button-submit{
    display: none;
}

.trade-chat__image-submit{
    width: 80px;
    height: 60px;
}

.trade-chat__label-image,
.trade-chat__label-submit{
    cursor: pointer;
}

.image-preview {
    width: 180px;
    height: 180px;
    margin-left: 20px;
    border-radius: 8px;
    display: none;
}

.trade-chat__message-form-inner.has-image .trade-chat__textarea-area {
    width: 71%;
}

.trade-chat.has-image .trade-chat__messages {
    bottom: 200px;
}

.trade-chat__error-message{
    color: #f00;
    font-size: 18px;
}





.modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.review-form {
    width: 600px;
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background-color: #FDFCE6;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.review-form__heading {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 28px;
    margin: 0;
    font-size: 35px;
    font-weight: 400;
    border-bottom: 1px solid #000;
}

.review-form__inner {
    width: 100%;
    padding-bottom: 28px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}

.review-form__paragraph {
    color: #868686;
    font-size: 20px;
    padding-left: 28px;
    margin-top: 14px;
    margin-bottom: 30px;
}

.review-form__input-area {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.star-img {
    width: 100px;
    height: 100px;
    margin: 0 6px;
    cursor: pointer;
}

.review-form__button-area{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.review-form__button-submit {
    width: 124px;
    height: 44px;
    margin-right: 18px;
    font-size: 22px;
    color: #fff;
    background-color: #FF8282;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
}

.review-form__error-message {
    margin: 0;
    position: absolute;
}

.review-form__error-message--rating {
    width: 100%;
    margin-top: 0;
    color: #FF0000;
    text-align: center;
    position: absolute;
}


/* ------------------------------------ */
/*      レスポンシブデザイン(1380px)      */
/* ------------------------------------ */


@media screen and (max-width: 1380px) {

    .other-trade {
        width: 220px;
        height: calc(100vh - 70px);
        top: 70px;
    }

    .other-trade__link-item {
        padding: 4px;
        margin: 9% 0;
        font-size: 20px;
    }

    .trade-chat__heading-wrapper {
        top: 70px;
        left: 220px;
    }

    .trade-chat__heading-user-image {
        width: 60px;
        height: 60px;
        margin: 0 15px;
    }

    .trade-chat__heading {
        width: 60%;
        font-size: 25px;
    }

    .trade-chat__item-info {
        height: 200px;
        top: 170px;
        left: 220px;
    }

    .trade-chat__item-image {
        width: 160px;
        height: 160px;
        margin-left: 30px;
    }

    .trade-chat__item-name {
        width: 60%;
        font-size: 38px;
    }

    .trade-chat__item-price {
        font-size: 32px;
    }

    .trade-chat__messages {
        width: calc(100% - 220px);
        top: 370px;
        bottom: 100px;
        margin-left: 220px;
    }

    .trade-chat__message-content {
        max-width: 500px;
    }

    .trade-chat__message-image {
        width: 260px;
        height: 260px;
    }

    .trade-chat__message-form {
        width: calc(100% - 220px);
    }

    .trade-chat__textarea-area {
        width: 70%;
    }

    .image-preview {
        width: 160px;
        height: 160px;
    }

    .trade-chat__message-form-inner.has-image .trade-chat__textarea-area {
        width: 62%;
    }

    .trade-chat.has-image .trade-chat__messages {
        bottom: 240px;
    }

}


/* ------------------------------------ */
/*      レスポンシブデザイン(1080px)      */
/* ------------------------------------ */


@media screen and (max-width: 1080px) {

    .other-trade {
        height: calc(100vh - 60px);
        top: 60px;
    }

    .trade-chat__heading-wrapper {
        top: 60px;
    }

    .trade-chat__heading-user-image {
        margin: 0 12px;
    }

    .trade-chat__heading {
        width: 40%;
        font-size: 24px;
    }

    .trade-chat__button-complete {
        padding: 6px 12px;
        margin-top: 2px;
        font-size: 16px;
    }

    .trade-chat__item-info {
        height: 160px;
        top: 160px;
    }

    .trade-chat__item-image {
        width: 130px;
        height: 130px;
        margin-left: 30px;
    }

    .trade-chat__item-name {
        width: 46%;
        font-size: 32px;
    }

    .trade-chat__item-price {
        font-size: 28px;
    }

    .trade-chat__messages {
        top: 320px;
    }

    .trade-chat__user-name {
        font-size: 16px;
    }

    .trade-chat__message-content {
        max-width: 400px;
        min-height: 50px;
        padding: 6px 10px;
        font-size: 16px;
    }

    .trade-chat__message-image {
        width: 240px;
        height: 240px;
    }

    .trade-chat__textarea-area {
        width: 60%;
    }

    .trade-chat__textarea {
        padding-left: 14px;
    }

    .trade-chat__image-input-area {
        margin-bottom: 10px;
    }

    .trade-chat__label-image {
        padding: 4px 10px;
        margin-right: 0px;
        font-size: 16px;
    }

    .trade-chat__textarea::placeholder {
        font-size: 17px;
        font-weight: 700;
    }

    .image-preview {
        width: 14vw;
        height: 14vw;
        margin-left: 10px;
    }

    .trade-chat__message-form-inner.has-image .trade-chat__textarea-area {
        width: 50%;
    }

    .trade-chat.has-image .trade-chat__messages {
        bottom: 190px;
    }

    .trade-chat__error-message {
        color: #f00;
        font-size: 15px;
    }

    .review-form {
        width: 56%;
        top: 52%;
    }

    .review-form__heading {
        font-size: 24px;
    }

    .star-img {
        width: 70px;
        height: 70px;
        margin: 0;
        cursor: pointer;
    }

    .review-form__button-area {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .review-form__button-submit {
        width: 110px;
        height: 38px;
        margin-right: 18px;
        font-size: 20px;
        color: #fff;
        background-color: #FF8282;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        outline: none;
    }

}