.all__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.login-form__heading{
    margin-top: 120px;
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
}

.login-form__wrapper{
    width: 100%;
}

.login-form__container{
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.login-form__label{
    font-size: 24px;
    font-weight: bold;
}

.login-form__input{
    width: 640px;
    height: 57px;
    padding-left: 8px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 24px;
}

.login-form__button-area{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.login-form__button-submit{
    width: 640px;
    height: 57px;
    margin-top: 80px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #f55;
    font-size: 26px;
    cursor: pointer;
}

.login-form__link-area{
    width: 60%;
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.login-form__link-register{
    color: #0073CC;
    font-size: 20px;
    text-decoration: none;
}

.login-form__error-message{
    color: #f00;
}


/* ------------------------------------ */
/*      レスポンシブデザイン(1080px)      */
/* ------------------------------------ */


@media screen and (max-width: 1080px){

    .login-form__inner{
        width: 100%;
    }

    .login-form__input {
        width: 100%;
        height: 57px;
        padding-left: 8px;
        margin-top: 10px;
        border-radius: 3px;
        font-size: 24px;
    }

    .login-form__button-submit {
        width: 100%;
        height: 57px;
        margin-top: 80px;
        border: none;
        border-radius: 3px;
        color: #fff;
        background-color: #f55;
        font-size: 26px;
        cursor: pointer;
    }

}