.all__wrapper{
    text-align: center;
}

.verify-email__message-area{
    margin-top: 240px;
}

.verify-email__message-1,
.verify-email__message-2{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.verify-email__link-area{
    margin: 90px 0 100px 0;
}

.verify-email__link-verification{
    padding: 12px 28px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    background-color: #d9d9d9;
    border: 1px solid #000;
    border-radius: 10px;
}

.verify-email__button-resend{
    font-size: 20px;
    color: #0073CC;
    background-color: #fff;
    border: none;
    cursor: pointer;
}