html {
    overflow-y: scroll;
}

.header{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    align-items: center;
}

.header__inner{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header-logo__link-index{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

.header-logo__image {
    width: 400px;
    display: inline-block;
}

.search-box {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translateY(-50%);
}

.search-box__input{
    width: 100%;
    height: 50px;
    padding-left: 40px;
    font-size: 24px;
    outline: none;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.header-nav__button-login,
.header-nav__button-logout{
    width: 140px;
    height: 50px;
    margin-right: 4px;
    color: #fff;
    background-color: #000;
    font-size: 24px;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.header-nav__link-mypage{
    width: 140px;
    height: 50px;
    padding-top: 7px;
    margin-right: 8px;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.header-nav__link-create{
    width: 100px;
    height: 50px;
    padding-top: 7px;
    border-radius: 3px;
    color: #000;
    background-color: #fff;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}






@media screen and (max-width: 1380px){

.header {
        width: 100%;
        height: 70px;
        margin: 0 auto;
        background-color: black;
        display: flex;
        align-items: center;
    }

    .header-logo__image {
        width: 340px;
        display: inline-block;
    }

.header-logo__link-index {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

.search-box {
    width: 32%;
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translateY(-50%);
    z-index: 100;
}

.search-box__input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-size: 20px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 0px;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

.header-nav__button-login,
.header-nav__button-logout {
    width: 120px;
    height: 40px;
    padding-bottom: 2px;
    margin-right: 4px;
    font-size: 20px;
}

.header-nav__link-mypage {
    width: 120px;
    height: 40px;
    padding-top: 5px;
    margin-right: 6px;
    font-size: 20px;
}

.header-nav__link-create {
    width: 100px;
    height: 40px;
    padding-top: 5px;
    border-radius: 3px;
    font-size: 20px;
}

}




@media screen and (max-width: 1080px) {

.header {
        width: 100%;
        height: 60px;
        margin: 0 auto;
        background-color: black;
        display: flex;
        align-items: center;
    }

    .header-logo__image {
            width: 256px;
            margin-bottom: 3px;
            display: inline-block;
        }

.search-box {
        width: 28%;
        position: absolute;
        top: 50%;
        left: 36%;
        transform: translateY(-50%);
        z-index: 100;
    }

.search-box__input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
}

.header-nav__button-login,
.header-nav__button-logout {
    width: 100px;
    height: 40px;
    padding-bottom: 2px;
    margin-right: 4px;
    font-size: 16px;
    font-weight: 500;
}

.header-nav__link-mypage {
    width: 90px;
    height: 40px;
    padding-top: 8px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
}

.header-nav__link-create {
    width: 60px;
    height: 40px;
    padding-top: 8px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
}

}