html {
    overflow-y: scroll;
}

.header{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    align-items: center;
}

.header__inner{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header-logo__link-index{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

.header-logo__image {
    width: 400px;
    display: inline-block;
}

.search-box {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translateY(-50%);
}

.search-box__input{
    width: 100%;
    height: 50px;
    padding-left: 40px;
    font-size: 24px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.header-nav__button-login,
.header-nav__button-logout{
    width: 140px;
    height: 50px;
    margin-right: 4px;
    color: #fff;
    background-color: #000;
    font-size: 24px;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.header-nav__link-mypage{
    width: 140px;
    height: 50px;
    padding-top: 7px;
    margin-right: 8px;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.header-nav__link-create{
    width: 100px;
    height: 50px;
    padding-top: 7px;
    border-radius: 3px;
    color: #000;
    background-color: #fff;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}